extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name
        h1 John Layher

        //- Title Section
        p.lead.text-light
          | React.js Developer, Software Engineer, Full-Stack JavaScript Developer, and UI/UX Developer with a passion for creative problem solving, communication, and life-long learning.

        //- Bio
        .portfolio-bio
          p
            | I am a React.js Developer, Software Engineer, Full-Stack JavaScript Developer, and UI/UX Developer with expertise in creating intuitive and reliable websites, and a passion for creative technologies.  
            br
            br  
            | I graduated from Elon University with a Bachelor’s degree in Philosophy, and a minor in Biology.  Initially intending to pursue Medical/IT Law, I found that my passions lie in the creative and innovative aspects of technology.  Since, I have earned a Full-Stack JavaScript TechDegree from TeamTreeHouse, and have continued to further my learning through online resources, and collaborations with friends.
            br
            br
            | In my free time, I love audio engineering, cooking, hopelessly trying to get my friends interested in discussing philosophy, and playing with my beautiful dog, Callie!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- List of Skills
        ul
          li JavaScript
          li React 
          li React Router 
          li HTML
          li CSS
          li JSX
          li Express 
          li Node.js 
          li Axios
          li Fetch API
          li Pug/Jade
          li SQL 
          li Sequelize 
          li SQLite
          li jQuery 
          li REST APIs 
          li AJAX 
          li OOP 
          li NPM
          li HTTP 
          li POSTMAN 
          li Git/GitHub
          li AGILE Development (SCRUM)

        br
        h6 Contact me
        //- Contact Info
        ul
          li john.e.layher@gmail.com
          li 706-621-3912
        //- Email Button
        a.button.expanded(href='mailto: john.e.layher@gmail.com') Email   
        //- Social Media Links
        a.button.expanded(href='https://www.linkedin.com/in/john-e-layher/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jlayher', target='_blank') GitHub
        //- Download Resume
        a.button.expanded(href='static/downloads/john_layher_resume.docx' download='john_layher_resume') Resume 

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  