extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name
        h1 John Layher

        //- Title Section
        p.lead.text-light
          | Full Stack JavaScript Developer, Musician, Producer, and Creator of Bad Puns That Not Even My Family Will Laugh At

        //- Bio
        .portfolio-bio
          p
            | I make music, and occasionally I make jokes that people feel obliged to chuckle at.   
            | I am in the process of learning to code.  
            | Also, my mom says I'm a pretty cool guy, and she's a trustworthy source.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- List of Skills
        ul
          li JavaScript
          li AJAX
          li Fetch API
          li Express
          li Pug
          li HTML
          li CSS
          li NPM
          li Mac OS
          li Logic Pro  
          li Izotope's Ozone
          li Reason (Production Software)
          li Native Instruments Audio Units/VSTs
        h6 Contact Info

        //- Contact Info
        ul
          li 000-000-0000
          li contact-email@gmail.com

        //- Social Media Links
        a.button.expanded(href='https://www.linkedin.com', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jlayher', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  