extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      //-Added "light-shadows" class to my name at the top of the home page
      h1.light-shadows John Layher

      //- Portfolio Description
      p.lead.text-light
        | My Portfolio of JavaScript Web Applications 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Generate Project Images and Links 
      each project in projects  
        .cell
          a(href=`./project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}.png`)
            h5= `${project.project_name}`
