<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    <meta name="description" content="John Layher's JavaScript Portfolio" />
    <meta name="title" property="og:title" content="John Layher's JavaScript Portfolio" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51343297827_032f9cdd7b_b.jpg" />
    <meta name="description" property="og:description" content="JavaScript Portfolio" /><meta name="author" content="John Layher" />
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          //- Side Bar Image
          .cell.shrink
            img.thumbnail(src=`/static/images/jlayher.jpg`)
          .cell.auto

            //- Name
            h5 John Layher

            //- Side Bar Description 
            p.text-light
              |Full Stack Web Developer

            //- Link To About Page 
            a(href='../about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Name for Mobile View
          span.title-bar-title John Layher
      block content
      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
