extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 John Layher

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer, Musician, Producer, and Creator of Bad Puns That Not Even My Family Will Laugh At

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I make music, and occasionally I make jokes that people feel obliged to chuckle at.   
            | I am in the process of learning to code.  
            | Also, my mom says I'm a pretty cool guy, and she's a trustworthy source.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Express
          li Pug
          li HTML
          li CSS
          li NPM
          li Mac OS
          li Logic Pro  
          li Izotope's Ozone
          li Reason (Production Software)
          li Native Instruments Audio Units/VSTs
        h6 Contact Info

        //- Add your own contact info
        ul
          li 706-621-3912
          li john.e.layher@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  