extends layout.pug

block content 
    .error 
        h2 Looks Like This Page Doesn't Exist!  
        
        h5 Please Navigate Back To The Home Page With The Link Below :D
        br
        //-Added Error Stack 
        span= err.stack
        br
        br
        br
            //- Ex Credit:  Styled Retrun Link 
            //- Ex Credit:  Styled Return Link 
        a.button.return-link(href=`/`) Back To The Home Page!

        
